body{
    color: #fff;
    font-family: 'nunito semibold';
    text-align: center;
}

#content > *{
    background: #3bbced;
    padding: 30px;
}
@media screen and (min-width:760px){
#content{
    grid-auto-rows: minmax(100px,auto); 
    grid-template-columns: repeat(4,1fr);
    /* max-width: 960px; */
    /* grid-template-columns: 30% 20% 50%; */
     /* grid-template-columns: 1fr 1fr 1fr;    */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-auto-rows:minmax(10,minmax(100px,auto)); */
    /* grid-template-rows: 200px 300px 400px 200px; */
    /* grid-template-rows: 200px 200px 200px; */
    /* grid-template-columns:repeat(3,1fr); */
    /* grid-template-rows:minmax(150px,auto); */
    /* grid-template-rows: repeat(4,minmax(150px,auto)); */
    margin: 0 auto;
    /* gap: 10px;*/
    display: grid;
    max-width: 960px;
    /* align-items: start;
    justify-items:end; */
    /* gap: 0px 20px; */
    /* grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px,auto);
    gap: 10px; */
    /* position: relative; */
    /* grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(150px,auto);
    gap: 10px; */
    /* transform: rotateZ(45deg)scale(); */
    grid-template-areas: 
      "header header header header"
      "aside aside main main"
      "nav nav main main"
      "section section section section"
      "section section section section"
      "footer footer footer footer";
    gap:10px
}
}

#content{
    /* grid-auto-rows: minmax(100px,auto); 
    grid-template-columns: repeat(4,1fr); */
    /* max-width: 960px; */
    /* grid-template-columns: 30% 20% 50%; */
     /* grid-template-columns: 1fr 1fr 1fr;    */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-auto-rows:minmax(10,minmax(100px,auto)); */
    /* grid-template-rows: 200px 300px 400px 200px; */
    /* grid-template-rows: 200px 200px 200px; */
    /* grid-template-columns:repeat(3,1fr); */
    /* grid-template-rows:minmax(150px,auto); */
    /* grid-template-rows: repeat(4,minmax(150px,auto)); */
    /* margin: 0 auto;
    /* gap: 10px;*/
    /* display: grid; */
    /* max-width: 960px; */
    /* align-items: start;
    justify-items:end; */
    /* gap: 0px 20px; */
    /* grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px,auto);
    gap: 10px; */
    /* position: relative; */
    /* grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(150px,auto);
    gap: 10px; */
    /* transform: rotateZ(45deg)scale(); */
    /* grid-template-areas: 
      "header header header header"
      "footer footer footer footer"
      "main main main main"
      "main main main main"
      "aside aside nav nav"
      "section section section section"
      "section section section section";
    gap:10px */
}


header{
    grid-area: header;
}
main{
    grid-area: main;
}
section{
    grid-area: section;
}
aside{
    grid-area: aside;
}
nav{
    grid-area: nav;
}
footer{
    grid-area: footer;
}

/* #content{
    transform: rotateZ(45deg) scale(0.7);
} */
/* #content div{
    background: #333;
    padding: 30px;
} */
/* .one{
    grid-column: 1/3;
    /* grid-row-start: 1;
    grid-row-end: 5; */
    /* grid-row: 1/5; */
/* } */
/* .two{
    grid-column: 3/7;
    grid-row: 1/3;
} */
/* .three{
    grid-column: 3/5;
    grid-row:3/5;
} */
/* .four{
    grid-column: 5/7;
    grid-row: 3/7;
} */
/* .five{
    grid-column: 1/5;
    grid-row: 5/7;
} */
/* #content > * {
    background: #3bbced;
    padding: 30px;
}

header{
    grid-column: 1/ 13;
}
main{
    grid-column: 4/13;
    grid-row:  2/4;
}
aside{
    grid-column: 1/4;
}
section{
    grid-column: 1/13;
    grid-row: 4/6;
}
nav{
    grid-column: 1/4;
}
footer{
    grid-column: 1/13;
} */

/* #grid{
    display: grid ;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100%,auto);
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    display: none;
} */
/* 
#grid p{
    border: 1px solid;
    background: #000;
    margin: 0;
    opacity: 0.2;
} */

/* input:checked +  #content #grid{
    display: grid;
} */
/* #content div{
    background: #3bbced;
    padding: 30px;
} */

/* #content div:nth-child(even){
    background: #777;
} */

/* .one{ */
  /* grid-column: 1/3; */
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* justify-self: end;
  align-self: flex-end; */
/* } */

/* .two{ */
    /* grid-column: 3/7; */
    /* align-self: center;
    justify-self: center; */
/* } */

/* .three{ */
    /* grid-column: 1/4;
    grid-row: 2/4; */
    /* align-self: start;
    justify-self: start; */
/* } */

/* .four{ */
    /* grid-column: 4/7;
    grid-row: 2/4; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-column: span 3; */
/* } */

/* .four p{ */
    /* border: 1px solid #fff;
    padding: 20px;
    margin: 0; */
/* } */

/* .five{ */
    /* grid-column: 3/7; */
/* } */

/* .six{ */
        /* grid-row: 4;
        grid-column: 1/3; */
/* } */





